.about__desc{
    color: #595959;
    font-weight: 100;
    
    /* font-size: 1.75rem; */
}

@media screen and (min-width: 0){
    .about__desc{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px){
    .about__desc{
        font-size: 2rem;
    }
}