.footer {
    background: #353535;
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 300;
    padding: 1.56rem 5rem;
    text-align: right;
}

.media {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
}

.social__icon {
    height: 60px;
    margin: 0 .3rem;
    width: 60px;
}
.social__icon:hover{
    transform: scale(1.3);
    transition: 0.3s;
}

@media screen and (min-width:0) {
    .header {
        justify-content: center;
        padding: 0 1rem;
    }
}

@media screen and (min-width:768px) {
    .header {
        justify-content: space-between;
        padding: 0 5rem;
    }
}

 